@use "../../../app/styles/global/variables" as *;
@use "../../../app/styles/global/mixins" as *;

.btn {
  cursor: pointer;
  padding: 15px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $ff-play;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  border-radius: 28px;
  background-color: $color-black-green;
  color: $color-white;
  transition: background-color, $transition-300;

  &:hover,
  &:focus-visible {
    background-color: $color-marengo;
  }

  &:disabled {
    background-color: $color-mini-gray;
    color: $color-white-50;
  }

  @include vp-767 {
    padding: 15px 39px;
  }

  &--cornflower {
    padding: 15px 47px;
    background-color: $color-cornflower;
    border: 1px solid transparent;

    &:hover,
    &:focus-visible {
      background-color: $color-marengo;
      border-color: $color-white;
    }
  }

  &--with-border {
    border: 1px solid $color-black-40;
  }

  &--mini {
    padding: 15px 21px;
  }

  &--liked {
    & svg {
      color: $color-periwinkle;
    }
  }

  &--close {
    padding: 12px;
    background-color: $color-white;
    border-radius: 24px;

    & svg {
      color: $color-black;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-marengo;

      & svg {
        color: $color-white;
      }
    }

    @include vp-767 {
      padding: 8px;

      & svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__icon {
    color: $color-white;
    transition: color, $transition-300;
  }
}
