@use "../../../app/styles/global/variables" as *;
@use "../../../app/styles/global/mixins" as *;

.search-form {
  position: relative;
  max-width: 656px;
  width: 100%;

  &.is-open {
    @include vp-767 {
      padding: 16px 20px;
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      z-index: 10;

      .search-form__inner {
        position: relative;
        z-index: 10;
      }

      .search-form__overlay {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-black-50;
        z-index: 9;
      }
    }
  }

  @include vp-767 {
    display: none;
  }
}
